/* header */
.opening{
  background-image:url('../Images/Homepage/header_background.jpg');
}
ul.ho{
  float:right;
}
ul.ho>li{
  float:left;
  margin-right:2em;
  color:orange;
  text-transform:uppercase;
}
.logo_name
{
  font-size:3em;
  color:white;
}
.logo_cr
{
    color:white;
}
.vit_logo{
    margin-left: 42%;
    background-color: white;
}

/* main body */
main{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}
table,tr,td{
    border: 1px solid black;
}
.overview{
    border-collapse: collapse;
    width: 70%;
}
.Institute_fee{
    border-collapse: collapse;
    width: 80%;
}
table{
    border-collapse: collapse;
    width: 90%;
}

/* Footer */
footer {
  background-image: url("../Images/Homepage/footer_background.jpg");
  color: black;
  height: 260px;
  padding: 40px;
}
.footer-logo {
  float: left;
}
.footer-list {
  float: right;
}
.footer-list li {
  padding-bottom: 20px;
}
.dd{
  margin-left: 45%;
}
li
{
list-style: none;
}
.ic{
  padding: 16px;
  transition: all 0.3s ease;
  color:black;
  font-size: 40px;
}
